* {
  color: #cccccc;
  font-family: "Menlo", monospace;
  font-size: 18px;
}

a {
  color: #00c080;
  font-style: italic;
  text-decoration: none;
}

a.footer {
  font-size: 12px;
  margin: 0;
}

a.icon {
  font-style: normal;
}

body {
  background-color: #024;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10%;
  margin-right: 10%;
}

div.row-bar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

h1 {
  color: #00c0c0;
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

img {
  max-width: 50vh;
  max-height: 50vh;
}

li.list {
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

p.footer {
  font-size: 12px;
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}

td {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  text-align: left;
  padding: 10px;
}

td.left {
  text-align: left;
  border: none;
}

td.right {
  text-align: right;
  border: none;
}

th {
  border: 1px solid #cccccc;
  padding: 10px;
}

.center {
  text-align: center;
}

.emoji {
  font-size: 48px;
}

.material-icon {
  font-family: "Material Icons";
  font-size: 32px;
}
